[submodule "tasks-backend"]
	path = tasks-backend
	url = https://github.com/marcelsby/tasks-backend
[submodule "tasks-frontend"]
	path = tasks-frontend
	url = https://github.com/marcelsby/tasks-frontend
